<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <?xml version="1.0" encoding="iso-8859-1"?>
    <title> 온라인 감정나눔카드 </title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <meta name="viewport" content="width=device-width, initial-scale=0.55">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <script>
    let I = "<%= JSON.stringify(I) %>";
    I = I.replaceAll('&#34;', '\"');
    I = JSON.parse(I);

    let view = "<%= JSON.stringify(view) %>";
    view = view.replaceAll('&#34;', '\"');
    view = JSON.parse(view);

    var card = "<%= JSON.stringify(card) %>";
    card = card.replaceAll('&#34;', '\"');
    card = JSON.parse(card);

    var user = "<%= JSON.stringify(user) %>";
    user = user.replaceAll('&#34;', '\"');
    user = JSON.parse(user);

    console.log(I) ;
    console.log(view);
    console.log(user);

    const roomId = String(<%= roomId %>);

    </script>

    <style> @import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap');

    * {
        padding: 0;
        margin: 0;
    }
    

    .flex-container {
        width: 100%;
        max-width: 1200px;
        display: flex;
        flex-wrap: wrap;
        gap: 0em;
        margin: 0 auto;
        justify-content: center;

        z-index: 10;
    }

    .flex-item {
        width: 120px;
        height: 170px;
        flex-grow: 0;
        border-radius: 5px;
    }

    .flex-item:hover {
        background-color: #D3D3D3;
        cursor: pointer;
    }

    .card-box {
        position: relative;
        width: 100px;
        height: 150px;
        margin: 10px;
    }

    .card-box > * {
        position: absolute;
    }

    .card-name {
        width: 100%;
        top: 10%;
        font-size: 15px;
        font-family: 'Gamja Flower', cursive;
        font-weight: bold;
        text-align: center;
    }

    .card-emoticon {
        width: 80px;
        height: 80px;
        top: 55px;
        left: 10px;
    }

    .card {
        width: 85%;
        margin: 0 auto;
    }
    .card-body {
        margin: 0 auto;
    }

    .stamp {
        width: 150px;
        height: 150px;
        left: -25px;
        top: 20px;
    }

    .resetButton:hover {
        cursor:pointer;
    }

    </style>

    <style>
    body {
        background-color: #f6ebe1;
        width: 100%;
        display:inline;
    }
    .main-header {
        background-color: white;
        border-bottom: 1px lightgray solid;
        height: 150px;
        top: 0;
        left: 0;
        right: 0;
        width: auto;
        position:fixed;
        z-index: 20 !important;
    }
    .main-body {
        background-color: #f6ebe1;
        padding-top: 150px;
    }
    .main-footer {
        background-color: #f6ebe1;
        height: 200px;
    }

    h1, h2 {
        line-height: 80px;
        padding-left: 30px;
        padding-right: 30px;
        border-right: 1px solid lightgrey;
    }

    .header-bar {
        height:100px;
        padding: 10px;
        border-bottom: 1px solid lightgrey;
    }

    .user-bar {
        display: table;
        height:50px;
        padding-left: 10px;
        width: 100px;

        overflow: scroll;
        white-space: nowrap;
    }
    .align-layer {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
    }
    .align-content {
        display: inline-block;
    }

    </style>

</head>
    <section class="main-header">
        <div class="header-bar">
            <div class="align-layer ">
                <h1 class="align-content"> #<%= roomId %></h1>
                <h2 class="align-content"> <%= view.title %></h2>
            </div>
        </div>

        <div class="user-bar">
            <div class="align-layer">
                <% for (var i=0; i<user.length; i++) { %>
                    <span class="align-content  badge rounded-pill" style="
                        background-color: <%= user[i].color %>;
                        font-size: 20px;
                    "><%= user[i].name %></span>
                <% } %> 
            </div>
        </div>
    </section>


    <section class="main-body">
        <div class="flex-container">
            <% for (var i=1; i<=55; i++) { %>
                <div class="flex-item" onclick="cardSelectAjaxEvent(<%=i%>)">
                    <div class="card-box">
                        <svg viewBox="0 0 100 150" fill="<%=view.cardColor[i]%>">
                            <rect x="0" y="0" width="100%" height="100%" rx="5" ry="5"/>
                            <rect x="15" y="9" width="70%" height="20%" rx="10" ry="10" fill="white"/>
                        </svg>
                        <div class="card-name"><%= view.emotionList[i] %></div>
                        <img class="card-emoticon" src="emoticonNo<%=i%>.png">
    
                        <svg class="stamp" viewBox="0 0 100 100" transform="rotate(-20)">
                            <ellipse x="0" y="0" width="100%" height="100%" cx="50" cy="50" rx="40" ry="20"
                            style="stroke:none; stroke-width: 3px; fill:none"
                            />
                            <text x="25" y="55"
                            style="fill: none" font-size="20" font-family="Gamja Flower, cursive">
                            </text>
                        </svg>
    
                    </div>
                </div>
            <% } %>
        </div>
    </section>

    <section class="main-footer">
    </section>



    <script>
    function updateCard(num, type, name, color) {
        var target = document.getElementsByClassName('stamp')[num-1];
        target.style.visibility = (type == 1) ? "visible" : "hidden";
        target.childNodes[1].style.stroke = color;
        target.childNodes[3].style.fill = color;
        target.childNodes[3].innerHTML = name;
    };

    function syncAjaxEvent(curTime) {
        var data = {
            'lastTime': curTime,
            'roomId': roomId
        };
        data = JSON.stringify(data);

        var xhr = new XMLHttpRequest();
        xhr.open('POST', 'syncRequest');
        xhr.setRequestHeader('Content-type', "application/json");
        xhr.send(data);

        xhr.addEventListener('load', function() {
            var res = JSON.parse(xhr.responseText);
            console.log(res);
            for (var item of res.updateList)
                updateCard(item.num, item.type, item.name, item.color);
            syncAjaxEvent(res.curTime);
        });
    };

    function cardSelectAjaxEvent(num) {

        var data = {
            "roomId": roomId,
            "num": num,
            "sid": I.sid
        };
        data = JSON.stringify(data);

        var xhr = new XMLHttpRequest();
        xhr.open('POST', 'selectCardRequest');
        xhr.setRequestHeader('Content-type', "application/json");
        xhr.send(data);

        xhr.addEventListener('load', function() {
            var res = JSON.parse(xhr.responseText);
            console.log(res)
            if (res.operation == true)
                updateCard(num, res.type, I.name, I.color);
            });

    };

    function cardResetEvent() {
        var data = {
            'roomId': roomId,
        };
        data = JSON.stringify(data);

        var xhr = new XMLHttpRequest();
        xhr.open('POST', 'cardResetRequest');
        xhr.setRequestHeader('Content-type', "application/json");
        xhr.send(data);
    }
    </script>



    <script>
    for (var i=1; i<=55; i++) {
        if (card.state[i].type != 0) {
            updateCard(i, card.state[i].type, card.state[i].name, card.state[i].color);
        }
    }

    document.addEventListener('DOMContentLoaded', () => {
        syncAjaxEvent(<%= card.curTime %>);
    });
    </script>

</body>
</html>
